<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.yoshitake-portfolio\.com)(:80)? [NC]
RewriteRule ^(.*) https://yoshitake-portfolio.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://yoshitake-portfolio.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/# [NE]
RewriteRule ^(.*)#$ https://yoshitake-portfolio.com/$1 [NE,R=301,L]  
RewriteCond %{THE_REQUEST} ^.*/#work [NE]
RewriteRule ^(.*)#work$ https://yoshitake-portfolio.com/$1 [NE,R=301,L]
RewriteCond %{THE_REQUEST} ^.*/#service [NE]
RewriteRule ^(.*)#service$ https://yoshitake-portfolio.com/$1 [NE,R=301,L]
RewriteCond %{THE_REQUEST} ^.*/#about [NE]
RewriteRule ^(.*)#about$ https://yoshitake-portfolio.com/$1 [NE,R=301,L]
RewriteCond %{THE_REQUEST} ^.*/#skills [NE]
RewriteRule ^(.*)#skills$ https://yoshitake-portfolio.com/$1 [NE,R=301,L]
RewriteCond %{THE_REQUEST} ^.*/#contact [NE]
RewriteRule ^(.*)#contact$ https://yoshitake-portfolio.com/$1 [NE,R=301,L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]     

order deny,allow

