@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .inner {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

.header {
  height: 100px;
  width: 100%;
  background: #3F51B5;
  position: fixed;
  z-index: 100;
  box-shadow: 0 3px 3px #00000029;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header-logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header-logo {
    width: 182px;
  }
}

.header-logo img {
  display: block;
}

.header-nav {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav li:not(:first-child) {
  margin-left: 40px;
}

.header-nav a {
  color: #fff;
  position: relative;
}

.header-nav a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.header-nav a:hover::after, .header-nav a.is-active::after {
  background: #E81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url("../img/mainvisual.png") center center/cover no-repeat;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-visual-title {
  font-size: 64px;
  width: 704px;
  font-weight: bold;
  line-height: 1.70312;
}

@media (max-width: 767px) {
  .main-visual-title {
    font-size: 32px;
    width: 280px;
  }
}

.main-visual-lead {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.70833;
}

@media (max-width: 767px) {
  .main-visual-lead {
    font-size: 18px;
    margin-top: 18px;
  }
}

.main-visual-button {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .main-visual-button {
    margin-top: 24px;
  }
}

.main-visual-button a {
  display: inline-block;
  width: 384px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #3F51B5;
  border-radius: 8px;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .main-visual-button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.main-visual-button a:hover {
  opacity: 0.7;
}

.section-title {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
    padding-bottom: 18px;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}

@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}

.card {
  background: #EFEFEF;
  padding: 88px 0 120px 0;
}

@media (max-width: 767px) {
  .card {
    padding: 50px 0 60px 0;
  }
}

.card-items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .card-items {
    margin-top: 40px;
  }
}

.card-item {
  padding: 16px;
  background: #fff;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .card-item {
    width: calc(33.3% - 24px * 2 / 3);
  }
  .card-item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card-item:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card-item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card-item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card-item:nth-child(n + 3) {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .card-item {
    width: 100%;
  }
  .card-item:nth-child(n + 2) {
    margin-top: 24px;
  }
}

.card-img img {
  width: 100%;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
  margin-top: 10px;
}

.card-text {
  font-weight: bold;
  margin-top: 8px;
  color: #6F7579;
  line-height: 1.5;
}

.news {
  padding: 80px 0 120px 0;
}

@media (max-width: 767px) {
  .news {
    padding: 50px 0 60px 0;
  }
}

.news-items {
  margin-top: 80px;
  width: 800px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .news-items {
    margin-top: 40px;
  }
}

.news-item {
  display: flex;
  padding-bottom: 12px;
}

.news-item:not(:first-child) {
  border-top: 1px solid #707070;
  padding-top: 19px;
}

@media (max-width: 767px) {
  .news-item {
    display: block;
  }
}

.news-meta {
  display: flex;
  width: 185px;
}

.news-date {
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

.news-label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: #666666;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.news-label a:hover {
  opacity: 0.7;
}

.news-label a.is-blue {
  background: #3F51B5;
}

.news-label a.is-red {
  background: #E81919;
}

.news-title {
  width: calc(100%-185px);
  padding-left: 20px;
  padding-top: 3px;
}

.news-title a {
  line-height: 1.25;
  transition: all 0.3s ease 0s;
}

.news-title a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .news-title {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}

.news-more {
  font-family: "Lato", sans-serif;
  margin-top: 35px;
  text-align: center;
}

@media (max-width: 767px) {
  .news-more {
    margin-top: 24px;
  }
}

.news-more a {
  color: #E81919;
  font-weight: bold;
  padding-right: 14px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.news-more a:hover {
  opacity: 0.7;
}

.news-more a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.png) center center/contain no-repeat;
}

.price {
  padding: 87px 0 120px 0;
  background: #EFEFEF;
}

@media (max-width: 767px) {
  .price {
    padding: 50px 0 60px 0;
  }
}

.price-content {
  display: flex;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .price-content {
    display: block;
    margin-top: 40px;
  }
}

.price-img {
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price-img {
    width: 100%;
  }
}

.price-table {
  width: 59%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .price-table {
    width: 100%;
    margin-top: 24px;
  }
}

.table {
  border: 1px solid #707070;
  border-collapse: collapse;
  background: #fff;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}

.table th {
  font-family: "Lato", sans-serif;
  background: #999999;
  color: #fff;
  text-align: center;
}

.table th:nth-child(1) {
  width: 172px;
}

@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}

.table td {
  text-align: right;
}

.table strong {
  color: #E81919;
  line-height: 1.2;
}

.table span {
  display: block;
  font-size: 13px;
  margin-top: 1px;
  line-height: 1.2;
}

.price-attention {
  font-size: 14px;
  margin-top: 2px;
}

.price-attention a {
  text-decoration: underline;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.price-attention a:hover {
  opacity: 0.7;
}

.access {
  padding: 87px 0 120px 0;
}

@media (max-width: 767px) {
  .access {
    padding: 50px 0 60px 0;
  }
}

.access-inner {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.access-map {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .access-map {
    margin-top: 40px;
  }
}

.access-iframe {
  width: 100%;
  position: relative;
  padding-top: 50%;
}

.access-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-info {
  margin-top: 11px;
}

.access-info-row {
  display: flex;
  align-items: center;
}

.access-info-row:not(:first-child) {
  margin-top: 8px;
}

.access-info-row dt {
  font-weight: bold;
  width: 104px;
}

.access-info-row dd {
  width: calc(100% - 104px);
}

.access-button {
  text-align: center;
  margin-top: 30px;
}

.access-button a {
  text-align: center;
  display: inline-block;
  width: 304px;
  font-weight: bold;
  color: #fff;
  background: #3F51B5;
  padding: 16px 0;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.access-button a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .access-button a {
    width: 280px;
  }
}

.access-button a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow@2x.png) center center/contain no-repeat;
}

.contact {
  padding: 100px 0 120px 0;
  background: #EFEFEF;
}

@media (max-width: 767px) {
  .contact {
    padding: 50px 0 60px;
  }
}

.contact-form {
  margin-top: 80px;
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 60px;
}

@media (max-width: 767px) {
  .contact-form {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-form-row {
  display: flex;
}

@media (max-width: 767px) {
  .contact-form-row {
    display: block;
  }
}

.contact-form-row:not(:first-child) {
  margin-top: 41px;
}

@media (max-width: 767px) {
  .contact-form-row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-form-label {
  width: 160px;
  padding-top: 5px;
}

@media (max-width: 767px) {
  .contact-form-label {
    width: 100%;
  }
}

.contact-form-label label {
  font-weight: bold;
}

.contact-form-label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form-label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  background: #E81919;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 3px 8px;
  line-height: 1;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .contact-form-label label.is-required::after {
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.contact-form-input {
  width: calc(100% - 160px);
}

@media (max-width: 767px) {
  .contact-form-input {
    width: 100%;
    margin-top: 5px;
  }
}

.contact-form-input [type="text"] {
  border: 1px solid #707070;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  width: 100%;
}

.contact-form-input [type="text"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

.contact-form-input [type="email"] {
  border: 1px solid #707070;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  width: 100%;
}

.contact-form-input [type="email"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

.contact-form-input select {
  border: 1px solid #707070;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  width: 100%;
  background: url(../img/select-arrow@2x.png) right 12px center/17px 14px no-repeat;
}

.contact-form-input textarea {
  height: 240px;
  border: 1px solid #707070;
  padding: 10px 16px;
  font-size: 14px;
  color: inherit;
  width: 100%;
  resize: none;
}

.contact-form-input textarea:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

.contact-form-radio {
  margin-top: 32px;
}

.contact-form-radio [type="radio"] {
  display: none;
}

.contact-form-radio span {
  padding-left: 28px;
  margin-right: 36px;
  position: relative;
}

@media (max-width: 767px) {
  .contact-form-radio span {
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
  }
}

.contact-form-radio span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  border-radius: 50%;
}

.contact-form-radio span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3F51B5;
  display: none;
}

.contact-form-radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form-check {
  margin-top: 63px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-form-check {
    margin-top: 32px;
  }
}

.contact-form-check [type="checkbox"] {
  display: none;
}

.contact-form-check span {
  padding-left: 49px;
  position: relative;
}

.contact-form-check span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #707070;
}

.contact-form-check span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 25px;
  height: 25px;
  background: url(../img/checkbox@2x.png) center center/contain no-repeat;
  display: none;
}

.contact-form-check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-form-check a {
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.contact-form-check a:hover {
  opacity: 0.7;
}

.contact-form-button {
  margin-top: 30px;
  text-align: center;
}

.contact-form-button [type="submit"] {
  display: inline-block;
  width: 304px;
  background: #3F51B5 url(../img/button-arrow@2x.png) right 12px center/17px 16px no-repeat;
  color: #fff;
  padding: 18px 0;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.3s ease 0s;
}

.contact-form-button [type="submit"]:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .contact-form-button [type="submit"] {
    width: 250px;
  }
}

.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px 0;
  color: #fff;
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 0 14px 0;
  }
}

.footer-content {
  display: flex;
}

@media (max-width: 767px) {
  .footer-content {
    display: block;
  }
}

.footer-left {
  width: 36%;
}

@media (max-width: 767px) {
  .footer-left {
    width: 100%;
  }
}

.footer-logo a img {
  width: 205px;
}

.footer-address {
  margin-top: 26px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer-address {
    margin-top: 13px;
  }
}

.footer-tel {
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer-tel {
    margin-top: 6px;
  }
}

.footer-center {
  width: 48%;
}

@media (max-width: 767px) {
  .footer-center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer-nav {
  font-family: "Lato", sans-serif;
  display: flex;
}

.footer-nav a {
  transition: all 0.3s ease 0s;
}

.footer-nav a:hover {
  opacity: 0.7;
}

.footer-nav li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer-nav li:not(:first-child) {
    margin-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-nav li:not(:first-child) {
    margin-left: 15px;
  }
}

.footer-right {
  width: 16%;
}

@media (max-width: 767px) {
  .footer-right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer-sns {
  display: flex;
}

@media (max-width: 767px) {
  .footer-sns {
    justify-content: center;
  }
}

.footer-sns a {
  transition: all 0.3s ease 0s;
}

.footer-sns a:hover {
  opacity: 0.7;
}

.footer-sns li {
  margin-left: auto;
}

@media (max-width: 767px) {
  .footer-sns li {
    margin-left: 0;
  }
}

.footer-sns li:not(:first-child) {
  margin-left: 16px;
}

.footer-sns li img {
  width: 30px;
}

.footer-copy {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 14px;
  margin-top: 46px;
}

@media (max-width: 767px) {
  .footer-copy {
    margin-top: 23px;
  }
}

.to-top {
  position: fixed;
  z-index: 100;
  right: 24px;
  bottom: 24px;
  display: none;
  transition: all 3s ease 0s;
}

.to-top.is-show {
  display: block;
}

@media (max-width: 767px) {
  .to-top {
    right: 8px;
    bottom: 12px;
  }
}

.to-top a {
  transition: all 0.3s ease 0s;
}

.to-top a:hover {
  opacity: 0.7;
}

.to-top a img {
  width: 60px;
}

@media (max-width: 767px) {
  .to-top a img {
    width: 30px;
  }
}

.swiper-button-next {
  width: 41px;
  height: 40px;
  margin-top: -20.5px;
  background: transparent url(../img/arrow-next@2x.png) center center/contain no-repeat;
  right: calc(50% - 600px);
}

.swiper-button-next::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}

.swiper-button-prev {
  width: 41px;
  height: 40px;
  margin-top: -20.5px;
  background: transparent url(../img/arrow-prev@2x.png) center center/contain no-repeat;
  left: calc(50% - 600px);
}

.swiper-button-prev::after {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-prev {
    left: 10px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}


.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #FFFFFF9E;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-pagination-bullet-active {
  background: #2F7DC8;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -120px;
  left: 0;
  width: 100%;
  
}
@media (max-width: 767px) {
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: auto;
  }
}
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon-bar1 {
  transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon-bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon-bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer-icon-bars {
  width: 22px;
  height: 20px;
  position: relative;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 4px;
  background: #fff;
}

.drawer-icon-bar1 {
  top: 0;
}

.drawer-icon-bar2 {
  top: 8px;
}

.drawer-icon-bar3 {
  top: 16px;
}

.drawer-content {
  position: fixed;
  z-index: 299;
  width: 200px;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 3px #00000029;
  right: 0;
  top: 0;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}

.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-content-item {
  border-bottom: 1px dotted #707070;
}

.drawer-content-item a {
  display: block;
  color: #707070;
  padding: 18px 20px;
  position: relative;
}

.drawer-content-item a::after {
  position: absolute;
  content: "";
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-b@2x.png) center center/contain no-repeat;
  width: 8px;
  height: 11px;
}

.drawer-background {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.qa {
  padding: 100px 0 120px 0;
}

.qa-items {
  width: 900px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.qa-item:not(:first-child) {
  margin-top: 24px;
}

.qa-box {
  border: 1px solid #3F51B5;
}

.qa-box-q {
  color: #fff;
  background: #3F51B5;
  font-weight: bold;
  padding: 20px 56px;
  position: relative;
  line-height: 1.6875;
}

.qa-box-q::before {
  content: "Q";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.qa-box-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

.qa-box-icon.is-open .qa-box-bar2 {
  transform: rotate(90deg);
}

.qa-box-bar1 {
  width: 14px;
  height: 2px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.qa-box-bar2 {
  width: 2px;
  height: 14px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}

.qa-box-a {
  color: #3F51B5;
  font-weight: bold;
  line-height: 1.5;
  padding: 16px 30px 16px 55px;
  position: relative;
  display: none;
}

.qa-box-a::after {
  content: "A";
  position: absolute;
  top: 16px;
  left: 20px;
}

.modal-contact {
  width: 900px;
  height: 652px;
  max-width: calc(100% - 24px * 2);
  max-height: calc(100% - 24px * 2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 501;
  background: #fff;
  position: relative;
  padding: 60px;
  color: #707070;
  display: none;
}

@media (max-width: 767px) {
  .modal-contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.modal-contact-head {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding-bottom: 24px;
  text-align: center;
}

.modal-contact-head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: #3F51B5;
}

.modal-contact-content {
  margin-top: 40px;
  height: calc(100% - 84px - 108px);
  overflow: auto;
}

.modal-contact-sub-head {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 20px;
}

.modal-contact-sub-head::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 4px;
  background: #3F51B5;
}

.modal-contact-sub-head:not(:first-child) {
  margin-top: 40px;
}

.modal-contact-text {
  margin-top: 16px;
  padding-left: 19.5px;
  line-height: 1.5;
}

.modal-contact-button {
  margin-top: 60px;
  text-align: center;
}

.modal-contact-button a {
  text-align: center;
  display: inline-block;
  width: 176px;
  padding: 14px 64px;
  background: #3F51B5;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px #00000029;
  font-weight: bold;
}

.modal-contact-icon {
  position: absolute;
  top: -20px;
  right: -20px;
}

.modal-contact-icon a img {
  width: 40px;
  height: 40px;
}

.modal-contact-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
  display: none;
}
/*# sourceMappingURL=style.css.map */